body{margin:0;padding:0;}
a{text-decoration:none;}

.top{height: 60px;background-color: #fff;}
.top-body{width:1000px;margin:0 auto;display:flex;}
.logo{width:200px;line-height:60px;font-size:20px;text-indent:50px;
    background:url(../img/logo.png) no-repeat left center;background-size:32px 32px;}

.menu{list-style:none;margin:0;padding:0;}
.menu li{float:left;}
.menu li>a{line-height:60px;display:inline-block;margin-right:40px;color: #353535;font-size: 20px;}
.menu li.active>a{color:#31B151;border-bottom:1px solid #31B151;}
.menu li:hover>a{color:#31B151;border-bottom:1px solid #31B151;}

.page{width:1000px;margin:30px auto;}

.srch{margin-bottom:30px;}
.srch-ul{margin-bottom:10px;padding:0;list-style:none;display:flex;}
.srch-ul li{padding:0 10px;margin-right: 5px;line-height: 30px;cursor:pointer;font-size:14px;}
.srch-ul li.active{color:#fff;background-color:#30B051;}
.srch-ul li:hover{color:#fff;background-color:#30B051;}
.srch-input{display:none;}
.srch-input.active{display:flex;}
.srch-input input{outline:none;border:2px solid #3385ff;padding:5px;width:350px;line-height:20px;}
.srch-input a{height:34px;line-height:34px;text-align:center;font-size:14px;cursor:pointer;
    width:100px;color:#fff;letter-spacing: 1px;background:#3385ff;}
.srch-input a:hover{background:#3075dc;}

.categery{margin-top:10px;}
h2{display:block;padding-left:10px;font-size:14px;margin:0;line-height:30px;font-weight:normal;background:#f5f5f5;color:#3385ff;}
.sites{margin-top:10px;}
.sites ul{padding:0;margin:0;list-style:none;}
.sites ul::after{display: block;clear:both;content:"";}
.sites ul li{width:14.7%;line-height:30px;height:30px;padding:0 7px;letter-spacing:1px;float:left;}
.sites ul li a{color:#333;text-decoration:none;font-size:12px;}
.sites ul li a:hover{text-decoration:underline;}
.favicon {width: 14px;height: 14px;vertical-align: middle;}

.footer{margin-top:20px;padding:10px 0;font-size:13px;line-height:25px;height:50px;text-align:center;background:#f4f4f4;color:#e60012;}

